.cylender{
    position: absolute;
    width: 90svh;
    height: 70vh;
    left: -350px;
    border-end-end-radius: 9999px;
    border-top-right-radius: 9999px;
    transform: rotate(-30deg);
    background: var(--purple-900-color);
}
@media (min-width:576px) {
    .cylender{
        width: 100svh;
        height: 70vh;
        left: -300px;
    }
}
@media (min-width:992px) {
    .cylender{
    width: 55%;
    height:75vh;
    left: -250px;
    top: 90px;
    }
    .img-serv{
        margin-left: -70px;
    }
}
