@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
:root{
    --blue-color:#0369A1;
    --amber-color:#FCD34D;
    --amber-900-color:#78350F;
    --amber-600-color:#D97706;
    --amber-500-color:#F59E0B;
    --amber-400-color:#FBBF24;
    --amber-300-color:#FCD34D;
    --amber-100-color:#FEF3C7;
    --purple-500-color:#A855F7;
    --purple-700-color:#7E22CE;
    --purple-800-color:#6B21A8;
    --purple-900-color:#581C87;
    --blue-400-color:#38BDF8;
}
.blue-text{
    color: var(--blue-color);
}
.amber-bg{
    background-color: var(--amber-color);
}
.amber-900-color-text{
    color: var(--amber-900-color);
}
.amber-600-color-text{
    color: var(--amber-600-color);
}
.amber-300-color-text{
    color: var(--amber-300-color);
}
.bg-purple-700-color{
    background: var(--purple-700-color);
}
.bg-purple-800-color{
    background: var(--purple-800-color);
}
.bg-amber-100-color{
    background: var(--amber-100-color);
}
.bg-amber-400-color{
    background: var(--amber-400-color);
}
.bg-amber-500-color{
    background: var(--amber-500-color);
}
.bg-purple-900-color{
    background: var(--purple-900-color);
}
.bg-blue-400-color{
    background: var(--blue-400-color);
}
.border-none{
    border:none;
}
.rounded-full{
    border-radius: 99999px;
}
.space-x-2 > * + * {
    margin-left: 0.5rem;
}
.z-50{
    z-index: 50;
}
.text-sm{
    font-size: 14px;
}
.text-xl{
    font-size: 50px;
}
.storke-white{
    stroke: white;
}
.fill-white{
    fill: white;
}
@media (min-width:576px) {
}
@media (min-width:768px) {
    
}
@media (min-width:992px) {
    .text-lg-xl{
        font-size: 50px;
    }
    .text-lg-2xl{
        font-size: 60px;
    }
}

.text-lg-2xl{
    font-size: normal;
}

.right-to-left{
    display: block;
    animation: right-to-left-aim .5s forwards;
}
@keyframes right-to-left-aim{
    0%{
        transform: translateX(100%);
        opacity: 0%;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}
.left-to-right{
    display: none;
    animation: left-to-right-aim .5s forwards;
}

@keyframes left-to-right-aim{
    0%{
        transform: translateX(0px);
        opacity: 100%;
    }
    100%{
        transform: translateX(100%);
        opacity: 0%;
    }
}